[Unit]
Description=HipHop Virtual Machine (FCGI)

[Service]
ExecStart=/usr/bin/hhvm --config /etc/hhvm/php.ini --user hhvm --mode daemon -vServer.Type=fastcgi -vServer.Port=9001
PrivateTmp=true
[Install]
WantedBy=multi-user.target
